<!DOCTYPE html>

<html lang="en">

<head>
  <style>
    body {background-image: url('/static/images/spaceships.jpg');
          background-size: "cover";
          background-color: blue;}
    h1   {color: rgb(126, 250, 25);}
    p    {color: rgb(126, 250, 25);}
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UFO Sightings and Interesting Facts</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->
</head>


<body>

<!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarNavDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Interesting Observations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarNavDropdown">
                <a class="dropdown-item" href="/heatmap">Sighting Heat Map</a>
                <a class="dropdown-item" href="/drugs">Sightings and Drugs</a>
                <a class="dropdown-item" href="/d3">Fireball Sightings and Drugs</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/explore">Explore the Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="something here??" target="_blank">API</a>
            </li>
          </ul>
        </div>
      </nav>

<!-- Body -->
    <div class="container-fluid">
      <div class="row">


<!-- Picture on Home Page -->
        <div class="col-md-7">
          <h1 class="display-5" ALIGN="left">UFO Sightings and Interesting facts.</h1>
          <hr class="my-4">
          <img src="/static/images/musk.jpg" alt="insert picture" width="350" height="375" ALIGN="left"/>
          <p> 
            <br>If you are looking for useless facts you have come to the right site!
            <br><br>
            Check out the latest news:
            <a href="https://www.foxnews.com/category/science/air-and-space/ufos">UFOs!</a>
          </p>
        </div>
    </div>
      </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html> -->
